In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("C:\\Users\\harshvats\Downloads\\10-30-2023-12 22 50 ANCInterventionDistrict131023 - De-identified.xlsx")

In [3]:
print([i for i in df.columns])

['District Name', 'Health Block Name', 'Health Facility Name', 'Health SubCentre Name', 'Villege Name', 'ANM Name', 'ANM MobileNo', 'ANM ID', 'Asha Name', 'Asha MobileNo', 'Name of PW', 'Husband Name', 'Single Mother', 'MPID', 'PW Mobile', 'LMP Date', 'Registration Date', 'EDD Date', 'Height', 'AGE', 'Blood Group', 'Blood Group Name', 'Gravida', 'Parity', 'Case No', 'SamagraID PW', 'SamagraID Husband', 'Samagra Status', 'Wife Shramik Status ', 'Husband Shramik Status ', 'Bank Name', 'Account No', 'IFSC Code', 'APL/BPL', 'Category', 'ANC1', 'ANC Date', 'ANC Place', 'Type Of Facility', 'ANC Counducted By', 'Name of Person Who Conducted ANC', 'Weight ANC1', 'BP Distolic1 ', 'BP Systolic 1', 'Hb1', 'Urine Albumin', 'Place Tag for Next ANC', 'Type of Facility Tagged ANC', 'ANC2', 'ANC Date1', 'Place of ANC', 'Facility Type', 'ANC Counducted By1', 'Name Of Person Who Conducted ANC1', 'Weight2', 'BP Distolic2', 'BP Systolic2', 'Hb2', 'Urine Albumin1', 'Place Tag For Next ANC1', 'Type of Facility Tagged', 'ANC3', 'ANC Date2', 'Place of ANC1', 'Type of Facility1', 'ANC Counducted By2', 'Name Of Person Who Conducted ANC2', 'Weight3', 'BP Distolic3', 'BP Systolic3', 'Hb3', 'Urine Albumin2', 'Place Tag for Next ANC2', 'Type of Facility Tagged ANC1', 'ANC4', 'ANC Date3', 'ANC Place1', 'Type of Facility2', 'ANC Counducted By3', 'Name Of Person Who Conducted ANC3', 'Weight4', 'BP Distolic4', 'BP Systolic4', 'Hb4', 'Urine Albumin ANC', 'Fundal Height in weeks', 'FHS', 'Foetal Movement', 'Foetal Position', 'Malaria Screening', 'Malaria Result', 'BMI', 'Sickle Cell Anemia Positive', 'Syphilis Result', 'Hepatitis screening Done', 'Hepatitis Result', 'HIV Test', 'Iron Sucrose Dose1 Date', 'Iron Sucrose Dose2 Date', 'Iron Sucrose Dose3 Date', 'Iron Sucrose Dose4 Date', 'Iron Sucrose Dose5 Date', 'Blood Transfusion given', 'Number of Units', 'Last Date of BT', 'Transfusion Date', 'Place Tag For Delivery', 'Delivery Place', 'Type of Facility3', 'TD1', 'TD2', 'TD Boster', 'IFA Tablet', 'Calcium Tablet', 'Albendazol Tablet', 'Folic Acid Tablet', 'Full ANC', 'USG', 'Death IN ANC', 'Abortion Spontaneous', 'Abortion Induced', 'HRPW', 'HR Medical History', 'Previous LSCS', 'Preterm Delivery in Previous Pregnancy', 'Neonatal Death In Previous Pregnancy', 'Still Birth in Previous Pregnancy', 'Congenital Malfunction in Previous Pregnancy', 'HR Current Pregnacy', 'OGTT', 'GDM', 'GDM Mngt', 'PIH', 'PIH Mngt ', 'MUAC']

In [16]:


# Replace missing values in 'ANC1' with 'Missing'
df['ANC1'].fillna('Missing', inplace=True)
# Create a cross-tabulation
tabulation = pd.crosstab(df['District Name'], df['ANC1'], margins=True, margins_name='Total')

# Display the tabulation
print(tabulation)

ANC1           Missing    Yes  Total
District Name
5                  634   5864   6498
19                1442   7449   8891
30                2175   4710   6885
40                2233   7931  10164
42                3050   4320   7370
43                2806   5968   8774
Total            12340  36242  48582

In [10]:
# Replace missing values in 'ANC1' with 'Missing'
df['Type Of Facility'].fillna('Missing', inplace=True)
# Create a cross-tabulation
tabulation = pd.crosstab(df['District Name'], df['Type Of Facility'], margins=True, margins_name='Total')

# Display the tabulation
print(tabulation)

Type Of Facility  Accredited Private Hospital  Community Health Centre  \
District Name
5                                           1                      379
19                                        177                      163
30                                          0                       88
40                                          1                      103
42                                          0                      271
43                                          0                      335
Total                                     179                     1339

Type Of Facility  Dispensaries  District Hospital  Medical College Hospital  \
District Name
5                            0                 27                         0
19                           0                 67                        17
30                           0                698                         0
40                           1                407                         0
42                           1                480                         0
43                           0                 36                         0
Total                        2               1715                        17

Type Of Facility  Medical Colleges Hospital  Missing  Other Private Hospital  \
District Name
5                                         0      642                      13
19                                        1     1453                    1021
30                                        0     2226                       8
40                                        1     2269                      28
42                                        0     3084                      12
43                                        0     2973                       9
Total                                     2    12647                    1091

Type Of Facility  Other Public Facility  Out of State Govt. Hospital  \
District Name
5                                    20                            3
19                                   93                           15
30                                   68                            3
40                                  707                            1
42                                   66                            0
43                                  521                            6
Total                              1475                           28

Type Of Facility  Out of State Private Hospital  Primary Health Center  \
District Name
5                                             4                     13
19                                            5                     14
30                                            0                     44
40                                            2                     83
42                                            0                     80
43                                            1                    216
Total                                        12                    450

Type Of Facility  Primary Health Centre  Sub-District Hospital  SubCentre  \
District Name
5                                   143                      0       1802
19                                  271                    566       3398
30                                  128                    110       1281
40                                  164                    103       2649
42                                  135                    411        845
43                                   99                    120       2667
Total                               940                   1310      12642

Type Of Facility  Urban Health Centre  Urban Health Posts  \
District Name
5                                   0                   0
19                                 32                   0
30                                  0                   1
40                                  0                   3
42                                  1                   1
43                                  1                  18
Total                              34                  23

Type Of Facility  Urban Primary Health Centres  Village  Total
District Name
5                                            1     3450   6498
19                                           1     1597   8891
30                                           1     2229   6885
40                                           1     3641  10164
42                                           0     1983   7370
43                                           0     1772   8774
Total                                        4    14672  48582

In [17]:
# Replace missing values in 'ANC1' with 'Missing'
df['ANC Counducted By'].fillna('Missing', inplace=True)
# Create a cross-tabulation
tabulation = pd.crosstab(df['District Name'], df['ANC Counducted By'], margins=True, margins_name='Total')

# Display the tabulation
print(tabulation)

ANC Counducted By    ANM  CHO  Gynecologist  LMO  Missing  Total
District Name
5                   5828   33             1    2      634   6498
19                  7379   21             8   41     1442   8891
30                  4684   24             2    0     2175   6885
40                  7834   83             5    8     2234  10164
42                  4242   71             4    3     3050   7370
43                  5811  144            11    2     2806   8774
Total              35778  376            31   56    12341  48582

In [18]:
# Replace missing values in 'ANC1' with 'Missing'
df['Weight ANC1'].fillna('Missing', inplace=True)
# Create a cross-tabulation
tabulation = pd.crosstab(df['District Name'], df['Weight ANC1'], margins=True, margins_name='Total')

# Display the tabulation
print(tabulation)

Weight ANC1    0.0  9.2  30.0  30.1  30.3  30.5  30.7  31.0  31.2  31.5  ...  \
District Name                                                            ...
5                0    0     6     0     0     0     0     5     0     0  ...
19               0    1    10     0     0     0     0     6     1     0  ...
30               0    0    10     0     0     0     0     5     0     0  ...
40               0    0     6     0     1     0     0     5     0     0  ...
42               1    0     6     1     0     1     1     2     0     1  ...
43               1    0    15     1     0     0     0     5     0     0  ...
Total            2    1    53     2     1     1     1    28     1     1  ...

Weight ANC1    151.0  152.0  154.0  155.0  156.0  158.0  160.0  200.0  \
District Name
5                  0      0      0      0      0      0      0      0
19                 1      0      0      0      0      0      0      0
30                 0      0      0      0      0      0      0      1
40                 0      1      0      0      0      0      0      0
42                 0      0      0      0      1      0      1      0
43                 0      1      1      1      0      1      0      0
Total              1      2      1      1      1      1      1      1

Weight ANC1    Missing  Total
District Name
5                  634   6498
19                1442   8891
30                2175   6885
40                2233  10164
42                3050   7370
43                2806   8774
Total            12340  48582

[7 rows x 527 columns]